<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>BnB Manager</title>
    <style>
      header, footer, .middle {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 50%;
      }

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .title {
        text-align: center;
      }

      .main-menu {
        margin-left: auto;
        width: 50%;
      }

      .flash-success {
        background-color: #80ffaa;
        font-weight: bold;
        padding: 15px;
      }

      .flash-error {
        background-color: #ff8080;
        color: black;
        font-weight: bold;
        padding: 15px;
      }

      a {
        text-decoration: none;
        color: black;
      }

      a:hover {
        font-weight: bold;
        background-color: #e6cffc;
      }

      button:hover {
        background-color: #fa8b87;
        border-radius: 15px;
      }
    </style>
  </head>

  <body>
    <div class="title">
      <h1>BnB Manager</h1>
    </div>

    <% if session[:success] %>
      <p class="flash-success"><%= session.delete(:success) %></p>
    <% elsif session[:error] %>
      <p class="flash-error"><%= session.delete(:error) %></p>
    <% end %>

    <%== yield %>

  </body>
</html>