<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>BnB Manager</title>
  </head>

  <body>
    <div class="title">
      <h1>BnB Manager</h1>
    </div>

    <% if session[:success] %>
      <p class="flash-success"><%= session.delete(:success) %></p>
    <% elsif session[:error] %>
      <p class="flash-error"><%= session.delete(:error) %></p>
    <% end %>

    <%== yield %>

  </body>
</html>